<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <!-- axios 불러오기 -->

    <title>Document</title>
    <script>
        function login(){
                        var form = document.getElementById("file_inform");
                        var formData = new FormData(form);

                axios({
                    method: "post",
                    url: "/form2",
                    data: formData,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((a) => { return a.data; }) //res처럼 변수를 받아서 data리턴
                .then((d) => { //위에서 받은 data를 다시 변수 d로 받아서 
                    document.querySelector("img").src = d.path; // 서버에서 받은 path를 여기서 출력할 것이다. 
                });
            }
        </script>
</head>
<body>
    <form id="file_inform" enctype="multipart/form-data">
    <fieldset>
        <legend>개인 정보</legend>
            아이디 : <input type="text" name="id"> <br>
            비밀번호 : <input type="password" name="pw"> <br>
            이름 : <input type="text" name="name"> <br>
            나이 : <input type="number" name="age"> <br>
    </fieldset>
    <!-- <form action="/upload-form" method="POST" enctype="multipart/form-data"> -->
        <input type="file" name="userfile"> <!--multer 미들웨어에서 'file'위까지만 처리하므로, 아래값은 나오지 않음-->
        <!-- <button type="button">리셋</button> -->
        <!--이거는 동적 폼 전송이 아닌, 자체적인 제출하기 버튼  -->
        <!-- <button type="submit" onclick="login();">회원가입</button>  -->
        <!-- 동적 폼 전송용 버튼 -->
        <button type="button" onclick="login();">회원가입(동적)</button>

        <!-- <div style="text-align:center;" id="result"></div> -->
    </form>
    <br>
    <!-- 이미지 파일이 아래에 나올 것이다. id를 지정해서 위에서 불러줄 수도 있다.  document.querySelector("img").src = d.path; 이부분 -->
    <img width="500px;" height="500px;">
</body>
</html>