<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SESAC HELLO</h1>
    <!-- mysql에서 배열을 넘겨주므로 for문을 돌린다 -->
    <% for(let i=0; i<rows.length; i++) { %>
        <div>
            <!-- id와 name출력하기 -->
            <span><%=rows[i].ID%></span> 
            <span><%=rows[i].name%></span> 
        </div>
    <% }%>
</body>
</html>